@font-face {
  font-family: Cuprum;
  src: url("../../fonts/cuprum.woff2"),
       url("../../fonts/cuprum.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Cuprum;
  src: url("../../fonts/cuprumbold.woff2"),
       url("../../fonts/cuprumbold.woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Cuprum;
  src: url("../../fonts/cuprumitalic.woff2"),
       url("../../fonts/cuprumitalic.woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../../fonts/ptsans.woff2"),
       url("../../fonts/ptsans.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../../fonts/ptsansbold.woff2"),
       url("../../fonts/ptsansbold.woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
