.page-footer__bgr {
  background-color: #32425C;

  &--color {
    background-color: #293449;
  }
}

.footer__block {
  padding-bottom: 35px;
}

.footer-nav > a {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #EE3643;
}

.footer-nav__list {
  min-width: 550px;

  @include list-reset;

  margin-left: auto;
}

.footer-nav__item {
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__contacts {
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer-poducts__list {
  min-width: 540px;

  @include list-reset;

  margin-left: auto;
}

.footer-poducts__items {
  font-size: 18px;
  line-height: 24px;
  color: #FFD180;
  text-decoration: none;
}

.footer__copyright,
.footer__mail p,
.footer__dev p{
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}

.footer__copyright {
  flex-basis: 240px;
  margin-right: 150px;
}

.footer-social__list {
  display: flex;

  @include list-reset;

  margin-right: 113px;
}

.footer-social__items {
  margin-right: 5px;
}

.footer-social__item {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #212A3A;
}

.footer__mail a,
.footer__dev a {
  font-size: 16px;
  line-height: 18px;
  color: #FFD180;
  text-decoration: none;
}

.footer__dev {
  margin-left: auto;
}
