.popular-products {
  margin-bottom: 1px;
}

.popular-products__wrapper,
.manufacture__wrapper {
  text-transform: uppercase;
  background-color: #F9F5F0;
}

.popular-products__heading,
.manufacture__heading {
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;

  color: #32425C;
}

.popular-products__all-product,
.manufacture__all {
  display: inline-block;
  width: 254px;
  padding-top: 11px;
  padding-bottom: 10px;
  margin-right: 3px;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  background-color: #EE3643;
  border-radius: 3px;
}

.popular-products__all-product:hover,
.popular-products__all-product:focus,
.manufacture__all:hover,
.manufacture__all:focus,
.services__items .services__item:hover,
.services__items .services__item:focus,
.description > a:hover,
.description > a:focus,
.contacts > a:hover,
.contacts > a:focus {
  background-color: #CA2C37;
}

.popular-products__all-product:active,
.manufacture__all:active,
.services__items .services__item:active,
.description > a:active,
.contacts > a:active {
  background-color: #BA2732;
}

.popular-products__list,
.cards-items__list {
  font-family: Cuprum, Arial, sans-serif;

  @include list-reset;
}

.cards-items__list {
  margin-bottom: 32px;
}

.popular-products__list li:last-child {
  margin-right: 0;
}

.popular-products__items {
  display: flex;
  flex-direction: column;
  width: 220px;
  min-height: 318px;
  margin: 0 20px 20px 0;
  text-align: center;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
}

.products__new {
  position: relative;
}

.products__new::after {
  content: "";
  position: absolute;
  top: 0;
  right: -1px;
  z-index: 5;
  width: 60px;
  height: 59px;
  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
  background-position: 0 0 ;
}

.products__new--promo::after {
  right: 0;
}

.popular-products__items  picture {
  display: block;
  margin-bottom: 20px;
}

.popular-products__item-wrapper {
  display: none;
}

.popular-products__item {
  position: relative;
  width: 135px;
  margin-bottom: 13px;
  padding: 10px 0 7px 0;
  line-height: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #63A63E;
  border-radius: 4px;
  box-shadow: 0px 3px 0px #367315;

  &--modific {
    margin-bottom: 0;
    padding: 8px 0 6px 0;
    color: #32425C;
    background-color: #FFFFFF;
    border: 3px solid #63A63E;
    box-sizing: border-box;
    box-shadow: none;
  }
}

.popular-products__item > svg {
  position: absolute;
  top: 11px;
  left: 12px;
  opacity: 0.3;
}

.popular-products__items:hover,
.popular-products__items:focus {
  box-shadow: 10px 10px 15px rgba(41, 52, 73, 0.5);
}

.popular-products__items:hover > .popular-products__item-wrapper,
.popular-products__items:focus > .popular-products__item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 44px;
  padding-bottom: 48px;
}

.popular-products__item:hover,
.popular-products__item:focus {
  background-color: #5FBB2D;
}

.popular-products__item:active {
  background-color: #518534;
  transform: translateY(3px);
  box-shadow: none;
}

.popular-products__item--modific:hover {
  background-color: #FFFFFF;
  border: 3px solid #32425C;
}

.popular-products__item--modific:active {
  transform: none;
  opacity: 0.3;
}

.popular-products__item:hover > svg,
.popular-products__item:focus > svg {
  opacity: 1;
}


.popular-products__items:hover > picture,
.popular-products__items:focus > picture {
  display: none;
}

.popular-products__text-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  text-decoration: none;
}

.popular-products-item__heading {
  @include margin-reset;

  margin-bottom: 11px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  text-transform: none;
}

.popular-products-item__heading > span {
  text-transform: uppercase;
}

.popular-products__text-wrapper > span {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #A9A9A9;
  text-decoration: line-through;
}

.popular-products__text-wrapper > p {
  position: relative;
  width: 122px;

  @include margin-reset;

  margin-top: auto;
  margin-left: 42px;
  padding: 10px 0 10px 13px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
  background-color: #EE3643;
  box-sizing: border-box;
}

.popular-products__text-wrapper > p::after {
  position: absolute;
  content: "";
  top: 0;
  right: -39px;
  border: 19px solid transparent;
  border-left: 20px solid #EE3643;
}

.manufacture__list {
  @include list-reset;
}


.manufacture__items {
  margin-right: 20px;
  margin-bottom: 20px;
}

.manufacture__list li:nth-child(4n) {
  margin-right: 0;
}

.manufacture__item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 220px;
  height: 143px;
  border: 1px solid #eaeaea;
}

.manufacture__item:hover,
.manufacture__item:focus {
  box-shadow: 10px 10px 15px rgba(41, 52, 73, 0.5);
}

.manufacture__item:active {
  opacity: 0.3;
  box-shadow: 4px 4px 10px rgba(41, 52, 73, 0.5);
}

.manufacture__item img {
  display: block;
}

.services {
  margin-bottom: 55px;
  background-color: #F4F8FA;
}

.services__wrepper {
  min-height: 460px;
  padding-top: 42px;
  padding-bottom: 20px;
}

.services__heading,
.description__heading,
.contacts__heading {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;

  &--indent {
    margin-bottom: 28px;
  }
}

.services__desc,
.description_desc,
.description_slogon,
.contacts__desc,
.description__text {
  font-size: 13px;
  line-height: 24px;
  text-transform: none;
}

.services__desc {
  margin-bottom: 69px;
}

.services__slider-container {
  position: relative;
  display: flex;

}

.services__slider-list::after {
  content: "";
  bottom: -48px;
  left: 230px;
  position: absolute;
  width: 10px;
  height: 279px;
  background-image: url("../img/Layer\ 118.png");

}

.services__slider-items {
  display: block;
  width: 240px;
  padding: 13px 0 17px 23px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
  box-sizing: border-box;
  background-color: #32425C;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
}

.services__slider-items:last-child {
  border-bottom: 1px solid #32425C;;
}

.services__slider-items:hover {
  background-color: #293449;
  border-top: 1px solid #293449;
}

.services__list {
  position: relative;

  @include list-reset;

  margin-left: 60px;
  padding-left: 20px;
  width: 640px;
}

.services__items {
  display: none;
  padding-right: 290px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services__items:nth-child(1)::after {
  content: "";
  position: absolute;
  top: 23px;
  right: 0;
  width: 468px;
  height: 261px;
  background-image: url("../img/delivery@1x.png");
}

.services__items:nth-child(2)::after {
  content: "";
  position: absolute;
  top: 1px;
  right: -17px;
  width: 398px;
  height: 283px;
  background-image: url("../img/guarantee@1x.png");
}

.services__items:nth-child(3)::after {
  content: "";
  position: absolute;
  top: -1px;
  right: -10px;
  width: 465px;
  height: 285px;
  background-image: url("../img/credit@1x.png");
}

.services__items h3 {
  margin: 0 0 23px 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 500;
  color: #32425c;
  text-transform: uppercase;
}

.services__items p {
  @include margin-reset;

  font-size: 13px;
}

.services__items .services__items__desc {
  margin-bottom: 34px;
}

.desc-cont__wraper {
  margin-bottom: 84px;
}

#delivery:checked ~ .services__slider-list .services__slider-items:nth-child(1) {
  color: #32425C;
  background-color: #FFFFFF;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

#warranty:checked ~ .services__slider-list .services__slider-items:nth-child(2) {
  color: #32425C;
  background-color: #FFFFFF;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}


#credit:checked ~ .services__slider-list .services__slider-items:nth-child(3) {
  color: #32425C;
  background-color: #FFFFFF;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}


#delivery:checked ~ .services__list .services__items:nth-child(1) {
  display: block;
}

#warranty:checked ~ .services__list .services__items:nth-child(2) {
  display: block;
}

#credit:checked ~ .services__list .services__items:nth-child(3) {
  display: block;
}



.description {
  flex-basis: 540px;
  box-sizing: border-box;
  padding: 0 10px 0 0;
}

.description_desc {
  margin-bottom: 26px;
}

.description_slogon {
  margin-bottom: 19px;
}

.description__list {
  @include list-reset;

  margin-bottom: 45px;
}

.description__items {
  position: relative;
  margin-bottom: 20px;
  padding-left: 36px;
  font-size: 18px;
  line-height: 20px;
}

.description__items::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #EE3643;
}

.services__item,
.description > a,
.contacts > a {
  padding: 12px 40px 10px 40px;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #EE3643;
  border-radius: 3px;
}

.services__item {
  padding-left: 45px;
  padding-right: 45px;
}

.contacts {
  flex-basis: 300px;
  margin-left: auto;
}

.contacts__desc {
  margin-bottom: 32px;
}

.contacts figure {
  @include figure-reset;

  margin-bottom: 40px;
}

.contacts img {
  display: block;
}

.contacts > a {
  display: block;
  text-align: center;
}
