.modal-form {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
}

input,
textarea {
  font-size: 13px;
  font-weight: normal;
}

.modal-form__button {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #EE3643;
}
