@keyframes bounce {
  0% {
    transform: translateY(-2000px) translateX(-50%);
  }

  70% {
    transform: translateY(30px) translateX(-50%);
  }

  90% {
    transform: translateY(-10px) translateX(-50%);
  }

  100% {
    transform: translateY(0) translateX(-50%);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0) translateX(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px) translateX(-50%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px) translateX(-50%);
  }
}

.modal-form {
  display: none;
  position: fixed;
  top: 32vh;
  left: 50%;
  width: 620px;
  padding-top: 48px;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  background-color: #FFFFFF;
  border-top: 7px solid #EE3643;
  transform: translateX(-50%);
  box-shadow: 0 20px  40px rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.modal-form-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-form__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 460px;
  margin: 0 auto 10px auto;
  padding: 0 20px;
}

.modal__button-wrapper {
  padding: 38px 0 36px;
  background-color: #F4F4F4;
}

.modal__button-wrapper > div {
  width: 460px;
  margin: 0 auto;
  padding: 0 20px;
}

.modal-form__item {
  width: 220px;
  @include margin-reset;

  margin-bottom: 21px;

  &--mody-width {
    width: 100%;
  }
}

.modal-form__item label {
  display: block;
  margin-bottom: 9px;
}

.modal-form__item input,
.modal-form__item textarea {
  width: 100%;
  padding: 10px ;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  border: 2px solid #DEE3E4;
  border-radius: 3px;
  box-sizing: border-box;
}

.modal-form__item input:hover,
.modal-form__item textarea:hover {
  border: 2px solid #B5B5B5;
}

.modal-form__item input:focus,
.modal-form__item textarea:focus {
  border: 2px solid #EE3643;
}

.modal-form__item textarea{
  height: 114px;
  resize: none;
}

.modal-form__close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 23px;
  height: 23px;
  background-color: rgba(255, 255, 255, 0.0);
  border: none;
  cursor: pointer;
  z-index: 3;
}

.modal-form__close::before,
.modal-form__close::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 10px;
  width: 4px;
  height: 28px;
  background-color: #EE3643;
  border-radius: 2px;
}

.modal-form__close::before {
  transform: rotate(45deg);
}

.modal-form__close::after {
  transform: rotate(-45deg);
}

.modal-form__button,
.modal-product__button {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  background-color: #EE3643;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  &--mody-color {
    color: #000000;
    background-color: #FFFFFF;
  }
}

.modal__button-grid {
  display: flex;
  justify-content: space-between;
}

.modal__button-grid .modal-product__button {
  width: 220px;
  text-decoration: none;
}

.modal-form__button:hover,
.modal-form__button:focus,
.modal-product__button:hover,
.modal-product__button:focus {
  background-color: #CA2C37;
}

.modal-product__button--mody-color:hover,
.modal-product__button--mody-color:focus {
  background-color: #FFFFFF;
  color: #EE3643;
}

.modal-form__button:active,
.modal-product__button:active {
  background-color: #BA2732;
}

.modal-product__button--mody-color:active {
  color: #C5C5C5;
  background-color: #FFFFFF;
}

.modal-maps {
  position: fixed;
  display: none;
  top: 32vh;
  left: 50%;
  width: 940px;
  height: 446px;
  transform: translateX(-50%);
  box-shadow: 0 20px  40px rgba(0, 0, 0, 0.7);
  z-index: 999;
}
.modal-maps img{
  display: block;
}

.modal-maps iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.modal-maps picture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.modal-maps-show {
  display: block;
  animation: bounce 0.6s;
}


.modal-produrt {
  position: fixed;
  display: none;
  top: 32vh;
  left: 50%;
  width: 620px;
  background-color: #FFFFFF;
  border-top: 7px solid #EE3643;
  transform: translateX(-50%);
  box-shadow: 0 20px  40px rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.modal-produrt-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-product__title {
  width: 460px;
  min-height: 163px;
  margin: 0 auto;
  padding: 0 20px;
}

.modal-product__title p {
  position: relative;

  @include margin-reset;

  padding-top: 65px;
  padding-left: 54px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}


.modal-product__title p::before {
  content: "";
  position: absolute;
  top: 48px;
  left: 0;
  width: 66px;
  height: 66px;
  background-color: #63A63E;
  border-radius: 50%;
}

.modal-product__title p::after {
  content: "";
  position: absolute;
  top: 62px;
  left: 24px;
  width: 13px;
  height: 28px;
  border: solid #FFFFFF;
  border-width: 0 7px 7px 0;
  transform: rotate(45deg);
}
