.block-color-one div:nth-child(1) {
  background-color: #ffbf47;
}

.block-color-one div:nth-child(2) {
  background-color: #3BBCE3;
}

.block-color-two div:nth-child(1) {
  background-color: #DC91D8;
}

.block-color-two div:nth-child(2) {
  background-color: #8ED78F;
}

.block-color-two div:nth-child(3) {
  background-color: #FFC047;
}

.promo__heading {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #ffffff;
}

.promo__item {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
}
